body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
}

form {
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"],
input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
