<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "css/bootstrap.css" rel = "stylesheet"/>
    <title>API Rest con vistas XILFTEN Movies</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8080">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/dd">Añadir película</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/delete">Borrar película</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/edit">Editar Pelicula</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/movies">Todas las peliculas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>Bienvenidos a nuestra página web de películas!</h1>
<hr>
<h3>Aqui podeís ver todas las peliculas:</h3>
<a class="nav-link" href="http://localhost:8080/movies">Todas las peliculas</a>
<p th:if="${message != null}" th:text="${message}"></p>
</body>
</html>